<div class="flex flex-col gap-y-3">
    <img [src]="coffee().image" class="h-full rounded-2xl" alt="coffee-background" />
    <div class="flex justify-between">
        <h3 class="px-2 py-2 text-label text-secondary-floral-white">{{ coffee().name }}</h3>
        <span class="rounded-md bg-primary-aero-blue px-2 py-2">{{ coffee().price }}</span>
    </div>
    <div class="flex justify-between">
        <div class="flex items-center gap-x-2">
            @if (coffee().rating) {
                <img src="../../../../assets/svg/Star_fill.svg" class="h-6 w-6" alt="stars" />
                <span class="text-label text-secondary-floral-white">{{ coffee().rating }}</span>
                <span class="text-label text-primary-nickel">({{ coffee().votes }} votes)</span>
            } @else {
                <img src="../../../../assets/svg/Star.svg" class="h-6 w-6" alt="stars" />
                <span class="text-small-text text-primary-nickel">No ratings</span>
            }
        </div>
        @if (!coffee().available) {
            <span class="mt-1 text-secondary-terracotta">Sold out</span>
        }
    </div>
</div>
