<div class="flex flex-col gap-y-3">
    <div class="h-40 w-64 rounded-2xl bg-cover bg-center bg-no-repeat" [ngStyle]="{ 'background-image': 'url(' + coffee().image + ')' }">
        @if (coffee().popular) {
            <div class="flex px-2 py-2">
                <span class="rounded-xl bg-secondary-maximum-yellow-red px-2 py-1 text-small-text">Popular</span>
            </div>
        }
    </div>
    <div class="flex justify-between">
        <h3 class="px-2 py-2 text-label text-secondary-floral-white">{{ coffee().name }}</h3>
        <span class="rounded-md bg-primary-aero-blue px-2 py-2">{{ coffee().price }}</span>
    </div>
    <div class="flex justify-between">
        <div class="flex items-center gap-x-2">
            @if (coffee().rating) {
                <img src="../../../../assets/svg/Star_fill.svg" class="h-6 w-6" alt="stars" />
                <span class="text-label text-secondary-floral-white">{{ coffee().rating }}</span>
                <span class="text-label text-primary-nickel">({{ coffee().votes }} votes)</span>
            } @else {
                <img src="../../../../assets/svg/Star.svg" class="h-6 w-6" alt="stars" />
                <span class="text-small-text text-primary-nickel">No ratings</span>
            }
        </div>
        @if (!coffee().available) {
            <span class="mt-1 text-secondary-terracotta">Sold out</span>
        }
    </div>
</div>
