<div class="flex min-h-screen flex-col items-center justify-center">
    <header class="h-72 w-full bg-cafe bg-cover bg-center bg-no-repeat"></header>
    <main class="-mt-24 mb-24 rounded-3xl bg-primary-eerie-black-light">
        <div class="my-20 flex flex-col gap-y-8">
            <app-coffee-shop-info></app-coffee-shop-info>
            <section class="flex flex-col items-center justify-center gap-y-12">
                <app-tabs></app-tabs>
                @if (coffeesListState() === 'all') {
                    <app-coffees-list [coffeesList]="allCoffees()"></app-coffees-list>
                } @else {
                    <app-coffees-list [coffeesList]="availableCoffees()"></app-coffees-list>
                }
            </section>
        </div>
    </main>
</div>
