<div class="flex w-full justify-center">
    <div class="mx-20 flex max-w-[40%] flex-col items-center gap-y-4 bg-vector bg-right bg-no-repeat">
        <h1 class="text-heading text-secondary-floral-white">Our Collection</h1>
        <div class="flex flex-col">
            <p class="text-label leading-6 text-primary-nickel">
                Introducing our Coffee Collection, a selection of unique coffees from different roast types and origins, expertly roasted in
                small
            </p>
            <p class="mx-[25%] text-label leading-6 text-primary-nickel">batches and shipped fresh weekly.</p>
        </div>
    </div>
</div>
